# Preliminaries

In [4]:
# Change Directory

%cd ..

d:\cancer-detection

In [20]:
# Load Libraries

import pandas as pd
from sklearn.model_selection import train_test_split

# Load Dataset

In [11]:
df = pd.read_excel("input/labels.xlsx")

In [12]:
df.head()

   Image No Label
0         1     C
1         2     C
2         3     C
3         4     C
4         5     C

## Update Column Names

In [13]:
# Change column names of df

df.columns = ['image_id', 'target']
df.head()

   image_id target
0         1      C
1         2      C
2         3      C
3         4      C
4         5      C

## Encode Target

- C -> Cancer -> 1
- N -> Non Cancer -> 0

In [15]:
# In df.target replace C with 1 and N with 0


df.target = df.target.replace(['C', 'N'], [1, 0])
df.head()

   image_id  target
0         1       1
1         2       1
2         3       1
3         4       1
4         5       1

# Split Train, Validation and Test Data

In [21]:
def create_data_split(df):
    """
    Function to split the dataset into training and test set

    Args: 
        df (pandas dataframe): Dataframe containing the image_id and target
    """

    train, test = train_test_split(
        df,
        test_size = 0.1,
        random_state = 42,
        stratify = df.target,
        shuffle = True
    )

    train.reset_index(
        drop = True, 
        inplace = True
    )

    test.reset_index(
        drop = True,
        inplace = True
    )

    return train, test

In [22]:
train, test   = create_data_split(df)
train, val = create_data_split(train)

In [23]:
print(f"Training set size: {len(train)}")
print(f"Validation set size: {len(val)}")
print(f"Test set size: {len(test)}")

Training set size: 324
Validation set size: 36
Test set size: 40

# Save Dataset

In [24]:
train.to_csv("input/csv/train.csv", index = False)
val.to_csv("input/csv/valid.csv", index = False)
test.to_csv("input/csv/test.csv", index = False)